@import "../../styles/colors.scss";

.login {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .form {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: $white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 1px rgba(5, 6, 56, 0.2);
    align-self: center;

    h2 {
      color: $primaryDark;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
    }

    .submit {
      margin-top: 24px;

      &:disabled {
        background-color: $disabledBackground;
        color: $disabledColor;

        &:hover {
          cursor: auto;
          opacity: 1;
        }
      }
    }

    .link {
      text-align: center;
      color: $primaryDark;
      text-transform: lowercase;
      transition: ease-in-out 0.2s;
      margin-top: 16px;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}
